---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
// import { dateRange } from "@lib/utils";
import { SITE, HOME, SOCIALS } from "@consts";

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

// const allPostNum = blog.length;

const projects = (await getCollection("projects"))
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);

// const allProjetsNum = projects.length;
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <h4 class="animate font-semibold text-black dark:text-white">
      Hi, <span class="text-xl">👋🏻</span>
    </h4>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <p class="animate">Welcome to my corner of the internet.</p>
          <p class="animate">
            This is where my thoughts take shape—ideas I wrestle with, the
            questions that linger in the quiet hours, and the fleeting sparks of
            insight that find their way into words.
          </p>

          <p class="animate">
            In a different life, I was deeply passionate about physics, but my
            focus has since shifted to the intersection of biology, mathematics,
            and computer science. I'm particularly intrigued by how human
            intelligence can inspire true machine intelligence.
          </p>

          <p class="animate">
            Currently, I'm in my third year of a computer science program, where
            I find myself increasingly drawn to independent exploration. I've
            recently started diving into machine learning, focusing on
            understanding its theoretical foundations.
          </p>
          <section class="animate space-y-6" style="margin-top: 50px;">
            <div class="flex flex-wrap gap-y-2 items-center justify-between">
              <h5 class="font-semibold text-black dark:text-white">
                Latest Posts
              </h5>
              <Link href="/blog"> See all posts </Link>
            </div>
            <article>
              <p class="animate">
                A curated selection of my most recent posts. Explore topics that
                range from technical deep dives to personal reflections.
              </p>

              <p class="animate font-semibold">Coming soon...</p>
            </article>
            <ul class="flex flex-col gap-4">
              {
                blog.map((post) => (
                  <li>
                    <ArrowCard entry={post} />
                  </li>
                ))
              }
            </ul>
          </section>

          <section class="animate space-y-6" style="margin-top:50px;">
            <div class="flex flex-wrap gap-y-2 items-center justify-between">
              <h5 class="font-semibold text-black dark:text-white">
                Recent Projects
              </h5>
              <Link href="/projects"> See all projects </Link>
            </div>
            <article>
              <p class="animate">
                Discover the latest projects I've been working on.
              </p>
              <!-- TODO: -->
              <!-- <article> -->
              <p class="animate font-semibold">Coming soon...</p>
              <!-- </article> -->
            </article>

            <ul class="flex flex-col gap-4">
              {
                projects.map((project) => (
                  <li>
                    <ArrowCard entry={project} />
                  </li>
                ))
              }
            </ul>
          </section>

          <!-- <section class="animate space-y-6">
          <div class="flex flex-wrap gap-y-2 items-center justify-between">
            <h5 class="font-semibold text-black dark:text-white">
              Work Experience
            </h5>
            <Link href="/work"> See all work </Link>
          </div>
          <ul class="flex flex-col space-y-4">
            {
              work.map((entry) => (
                <li>
                  <div class="text-sm opacity-75">
                    {dateRange(entry.data.dateStart, entry.data.dateEnd)}
                  </div>
                  <div class="font-semibold text-black dark:text-white">
                    {entry.data.company}
                  </div>
                  <div class="text-sm opacity-75">{entry.data.role}</div>
                  <article>
                    <entry.Content />
                  </article>
                </li>
              ))
            }
          </ul>
        </section> -->

          <section class="animate space-y-4" style="margin-top: 50px;">
            <h5 class="font-semibold text-black dark:text-white">
              Let's Connect
            </h5>
            <article>
              <p>
                If you'd like to reach out, feel free to connect with me on
                Twitter/X or send me an email. I'd love to hear from you!
              </p>
            </article>
            <ul class="flex flex-wrap gap-2" style="justify-content: center;">
              {
                SOCIALS.map((SOCIAL) => (
                  <li class="flex gap-x-2 text-nowrap">
                    <Link
                      href={SOCIAL.HREF}
                      external
                      aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}
                    >
                      {SOCIAL.NAME}
                    </Link>
                    {"|"}
                  </li>
                ))
              }
              <!-- <li class="line-clamp-1">
                <Link
                  href={`mailto:${SITE.EMAIL}`}
                  aria-label={`Email ${SITE.NAME}`}
                >
                  {SITE.EMAIL} -->
            </ul>
          </section>
        </article>
      </section>
    </div>
  </Container>
</PageLayout>
